@import "variables";


/* FOOTER */

footer{
    .contenedor-footer{
        height: 20vh;
        background-color: map-get($colores, negro);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 20vh;
        grid-template-areas: "logo . redes";
        .logo-footer{
            grid-area: logo;
            @include centrar;
        }
        .redes{
            grid-area: redes;
            @include centrar;
            a{
                padding: 10px;
                img:hover{
                    @include animacion(pulse, 1s);
                }
            }
        }
    }
}

        /*  MOBILE FOOTER  */

        
@media only screen and (min-width:0px) and (max-width:768px){ 
    footer{
        .contenedor-footer{
            height: 30vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: "logo""redes";
            .redes{
                align-items: flex-start;
            }
        }   
    }
}

