$bc1: rgba( 0, 0, 0, 0.25);
$bc2: rgba( 0, 0, 0, 0.45);


/* HEADER */
header{
position: fixed;
width: 100vw;
font-family: 'Oswald', sans-serif;
font-size: 1.25em;
font-weight: 400;
    .contenedor-menu{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 13vh;
        grid-template-areas: 
        "logo logo . . . . menu menu menu menu menu .";
        background-color: $bc1;
        .logo{
            grid-area: logo;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 45px;
                &:hover{
                    cursor: pointer;
                    animation: pulse;
                    animation-duration: 2s;
                }
            }
        }
        .bar-btn{
            display: none;
        }
        #check{
            display: none;
        }
        .nav-menu{
            list-style-type: none;
            grid-area: menu;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a{
                padding-left: 30px;
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: rgb(134, 134, 134);
                }    
            }
        }
        
    }

}

        
/* MOBILE  HEADER*/


@media only screen and (min-width:0px) and (max-width:768px){

    .contenedor-menu{
        display: grid;
        grid-template-columns: 30vw 40vw 30vw;
        grid-template-rows: 15vh 85vh;
        grid-template-areas:  
        "logo espacio menu" 
        "desplegable desplegable desplegable";
        background-color: transparent;
        .logo{
            grid-area: logo;
            background-color: $bc2;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: none;
        }
        .espacio{
            grid-area: espacio;
            background-color: $bc2;
        }
        #check:checked ~ .nav-menu{
            display: flex;
        }
        .bar-btn{
            grid-area: menu;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bc2;
            color: #fff;
            cursor: pointer;
            font-size: 35px;
        }
        .nav-menu{
            grid-area: desplegable;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $bc2;
            li{
                padding: 4vh 0vw;
            }
            a{
                padding: 0;
            }
        }   
    }      
}