@import "variables";


/* HEADER */
header{
position: fixed;
width: 100vw;
font-family: $ff;
font-size: 1.25em;
font-weight: 400;
    .contenedor-menu{
        @include centrar(flex, space-around,center);
        height: 15vh;
        background-color: map-get($colores, bcHeader);
        .logo{
            @include centrar;
            img{
                padding-right: 10vw;
                height: 45px;
                &:hover{
                    cursor: pointer;
                    @include animacion(pulse, 2s);
                }
            }
        }
        .bar-btn{
            display: none;
        }
        #check{
            display: none;
        }
        .nav-menu{
            list-style-type: none;
            grid-area: menu;
            @include centrar(flex ,flex-end);
            padding-left: 10vw;
            a{
                padding-left: 30px;
                text-decoration: none;
                color: map-get($colores, blanco);
                &:hover{
                    color: map-get($colores, gris);
                }    
            }
        }
        
    }

}

        
/* MOBILE  HEADER*/


@media only screen and (min-width:0px) and (max-width:768px){
    header{
        .contenedor-menu{
            background-color: map-get($colores, bcHeaderMobile);
            display: grid;
            grid-template-columns: 30vw 40vw 30vw;
            grid-template-rows: 15vh 85vh;
            grid-template-areas:  
            "logo espacio menu"
            "desplegable desplegable desplegable"; 
            .logo{
                grid-area: logo;
                @include centrar;
                animation: none; padding-left: 10vw;
            }
            .espacio{
                grid-area: espacio;

            }
            
            .bar-btn{
                grid-area: menu;
                @include centrar;
                color: map-get($colores, blanco);
                cursor: pointer;
                font-size: 35px;
            }
            .nav-menu{
                padding: 0;
                height: 85vh;
                grid-area: desplegable;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: map-get($colores, bcHeaderMobile);
                li{
                    padding: 4vh 0vw;
                }
                a{
                    padding: 0;
                }
            }
            #check:checked ~ .nav-menu{
                display: flex;
            }
        }    
    }  
} 
