@import "variables";

/* MAIN bio */
main{
    .bio-contenido-main{
        padding: 15vh 10vw;
        background-image: url(../img/fondo-bio1.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: $ff;
        .contenido-main{
            padding: 7vh 5vw;
            background-color: map-get($colores, bcBio);
            border-radius: 35px;
            h2{
                @extend .titulo;
                padding-bottom: 60px;
            }
            .texto{
                padding-bottom: 5vh;
                h4{
                    text-align: center;
                    color: map-get($colores, blanco);
                    font-weight: 400;
                    font-size: 1.25em;
                    padding-bottom: 15px;
                    @include animacion2;
                }
                p{
                    color: map-get($colores, blanco);
                    font-family: 'Barlow', sans-serif;
                    font-weight: 200;
                    font-size: 1.15em;
                    padding-bottom: 20px;
                    @include animacion2;
                }
            }
        }
    }
}


@media only screen and (min-width:0px) and (max-width:768px){
    main{
        .bio-contenido-main{
            padding-top: 20vh;
            p{
                text-align: justify;
            }
        }
    }
}