@import "variables";

/* MAIN galeria */
main{
    .galeria-contenido-main{
        padding: 20vh 10vw;
        background-color: map-get($colores, bcGaleria);
        font-family: $ff;
        height: 350vh;
        h2{
            @extend .titulo;
            padding-bottom: 60px;
        }
        .contenedor-imagenes{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(7, 40vh) 30px;
            gap: 2vh;
            grid-template-areas: 
            "uno dos cinco"
            "tres cuatro cinco"
            "seis siete ocho"
            "seis nueve diez"
            "once doce quince"
            "trece catorce quince"
            "vermasuno vermasdos vermastres"
            "foto foto foto";
            .fondo{
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                @include centrar;
                overflow: hidden;
                .click{
                    text-decoration: none;
                    color: transparent;
                    font-size: 1000px;
                }
                .hover2:hover{
                    background-color: map-get($colores, bcHeaderMobile);
                    padding: 8px;
                    border-radius: 10px;
                }
            }
            .hover:hover{
                transform: scale(1.02);
            }
            .imagen-1{
                grid-area: uno;
                background-image: url(../img/galeria1.jpg);
                @include animacion(fadeInUp, 4s);
            }
            .imagen-2{
                grid-area: dos;
                background-image: url(../img/galeria2.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-3{
                grid-area: tres;
                background-image: url(../img/galeria3.jpg); 
                @include animacion(fadeInUp, 4s);
            }
            .imagen-4{
                grid-area: cuatro;
                background-image: url(../img/galeria4.jpg); 
                @include animacion(fadeInUp, 4s);
            }
            .imagen-5{
                grid-area: cinco;
                background-image: url(../img/galeria5.jpg);
                @include animacion(fadeInUp, 4s);
            }
            .imagen-6{
                grid-area: seis;
                background-image: url(../img/galeria6.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-7{
                grid-area: siete;
                background-image: url(../img/galeria7.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-8{
                grid-area: ocho;
                background-image: url(../img/galeria8.jpg); 
                @include animacion(fadeInUp, 4s);
            }
            .imagen-9{
                grid-area: nueve;
                background-image: url(../img/galeria9.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-10{
                grid-area: diez;
                background-image: url(../img/galeria10.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-11{
                grid-area: once;
                background-image: url(../img/galeria11.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-12{
                grid-area: doce;
                background-image: url(../img/galeria12.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-13{
                grid-area: trece;
                background-image: url(../img/galeria13.jpg); 
                @include animacion(fadeInUp, 4s);
            }
            .imagen-14{
                grid-area: catorce;
                background-image: url(../img/galeria14.jpg);  
                @include animacion(fadeInUp, 4s);
            }
            .imagen-15{
                grid-area: quince;
                background-image: url(../img/galeria15.jpg);  
            }
            .vermas1{
                grid-area: vermasuno;
                background-image: url(../img/vermas1.jpg);
                @include animacion(fadeInUp, 4s);
            }
            .vermas2{
                grid-area: vermasdos;
                background-image: url(../img/vermas2.jpg);
                @include animacion(fadeInUp, 4s);
            }
            .vermas3{
                grid-area: vermastres;
                background-image: url(../img/vermas3.jpg);
                @include animacion(fadeInUp, 4s);
            }
            .vermas{
                color: transparent;
                text-decoration: none;
                font-size: 30px;
                font-family: $ff;
                background-color: transparent;
                padding: 125px;
                @include animacion(fadeInUp, 4s);
                &:hover{
                    color: map-get($colores, blanco);
                }
            }
            .pie{
                grid-area: foto;
                display: flex;
                justify-content: center;
                @include animacion(fadeInUp, 4s);
            }
        }
        /* MODAL GALERIA */
        .modal{
            display: none;
            &:target{
                display: block;
                position: fixed;
                background: map-get($colores, bcBio);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .cerrar{
                display: block;
                text-align: right;
                padding: 15px 50px 0 0;
                text-decoration: none;
                color: map-get($colores, blanco);
                font-size: 25px;
            }
            .imagen-galeria{
                height: 100vh;
                @include centrar;
                img{
                    margin-bottom: 5vh;
                    height: 80vh;
                }
                a{
                    color: map-get($colores, blanco);
                    font-size: 40px;
                    text-decoration: none;
                    margin: 0 10px;
                }
            }
        }
    }
}

    /* MOBILE GALERIA */

@media only screen and (min-width:0px) and (max-width:768px){
    main{
        .galeria-contenido-main{
            height: 620vh;
            .contenedor-imagenes{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(21,25vh);
                grid-template-areas: "uno""dos""cinco""cinco""tres""cuatro""siete""ocho""seis""seis""nueve""diez""once""doce""quince""quince""trece""catorce""vermasuno""vermasdos""vermastres""foto";
                .fondo{
                    background-size: cover;
                    background-position: center;
                }
                .pie{
                    img{
                        width: 80vw;
                        background-position: center;
                    }
                }
            }
            .modal{
                .imagen-galeria{
                    img{
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }   
}