/* MAIN discos */
main{
    .discos{
        height: 335vh;
        background-color: rgb(30, 30, 30);
        .contenedor-discos{
            padding: 13vh 17vw 0vh 17vw;
            .imagen-disco{
                display: block;
                iframe{
                    width: 65vw;
                    height: 75vh;
                }
                .canciones{
                    text-align: center;
                    padding-top: 3vh;
                    list-style: none;
                    a{
                        animation: fadeInUpBig;
                        animation-duration: 3s;
                    }
                    &:hover{
                        color: rgb(134, 134, 134);
                    }
                }
            }
            .disco-1{
                p{
                    animation: fadeInUp;
                    animation-duration: 3s;
                }
            }
            .disco-2{
                padding-top: 7vh;
                p{
                    animation: fadeInUp;
                    animation-duration: 3s;
                }
            }
            h2 {
                padding: 4vh 0px;
                color: #fff;
                text-align: center;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                animation: fadeInUp;
                animation-duration: 3s;
            }
            .formato-p{
                color: #fff;
                font-size: 1.25em;
                font-weight: 200;
                font-family: 'Barlow', sans-serif;
                padding-bottom: 40px;
                text-align: justify;
                text-decoration: none;
            }
            .descripcion{
                padding-bottom: 4vh;
                text-align: center;
            }
        }
    }
}

    /* MOBILE DISCOS */

@media only screen and (min-width:0px) and (max-width:768px){

    .discos{
        height: 350vh;
    }
    .imagen-disco iframe{
        width: 65vw;
        height: 25vh;
    }
}