@import "variables";

/* MAIN contacto */
main{
    .contacto-imagen-fondo{
        background-image: url(../img/fondo-contacto.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        .formulario{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15vh;
            padding-bottom: 10vh;
            .contenedor-form{
                width: 45vw;
                background-color: map-get($colores, bcBio);
                border-radius: 35px;
                @include centrar;
                font-family: $ff;
                text-align: center;
                @include animacion(fadeIn, 3s);
                h2{
                    @extend .titulo;
                    padding: 20px 0px;
                }
                label{
                    color: map-get($colores, gris);;
                    font-family: 'barlow';
                    font-weight: 400;
                    display: block;
                    padding-bottom: 5px;
                }
                .input{
                    width: 80%;
                    padding: 5px;
                    margin-bottom: 15px;
                    background: transparent;
                    border-radius: 5px;
                    border: 1px solid map-get($colores, gris);
                    color: map-get($colores, blanco);
                }
                .contacto{
                    display: inline-block;
                }
                textarea{
                    font-family: 'Barlow'
                }
                .boton-enviar{
                    text-align: center;
                }
                .enviar{
                    padding: 5px;
                    text-align: center;
                    width: 60%;
                    background: transparent;
                    color: map-get($colores, gris);
                    border: 1px solid map-get($colores, gris);
                    border-radius: 5px;
                    margin-bottom: 5vh;
                    &:hover{
                        background: rgba(134, 134, 134, 0.7);
                        cursor: pointer;
                        color: map-get($colores, negro);
                    }
                }
                div{
                    padding-bottom: 10px;
                }
            }
        }
    }

}

/* MOBILE CONTACTO */


@media only screen and (min-width:0px) and (max-width:768px){
    main{
        .contacto-imagen-fondo{
            height: 130vh;
            @include centrar;
            .formulario{
                .contenedor-form{
                    width: 90vw;
                    text-align: center;
                    .input{
                        width: 80%;
                    }
                    .enviar{
                        width: 40%;
                    }
                }
            }
        }
    }
}